/* Styles for the footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

/* Styles for the header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-bottom: 30px; 
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 500px; 
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  #edit-button {
    margin-right: 10px;
  }
  
  #cancel-button, #save-button {
    margin-right: 10px;
  }
  