/* Styles for the footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

/* Styles for the header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-bottom: 30px; 
  }
  
  .form-control {
    background-color: #fff;
    border: #333;
    border-radius: 4px;
    padding: 5px;
  }

  label {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 500px; 
  }

  /* .hidden{
    display: none;
  } */
  
  .form-group label {
    font-weight: bold;
  }

  .form-group {
    margin-bottom: 20px;
  }
  
  #edit-button {
    margin-right: 10px;
  }

  #update-btn {
    background-color: white;
    color: #098789;
    border-radius: 4px;
  }

  #delete-btn {
    background-color: white;
    color: red;
    border-radius: 4px;
  }

  #cancel-delete {
    background-color: white;
    color: red;
    border-radius: 4px;
  }

  #confirm-delete {
    background-color: white;
    color: #098789;
    border-radius: 4px;
  }

  #confirm-update-btn {
    background-color: white;
    color: red;
    border-radius: 4px;
  }

  #cancel-update-btn {
    background-color: white;
    color: #098789;
    border-radius: 4px;
  }
  
  #cancel-button, #save-button {
    margin-right: 10px;
  }
  