<!DOCTYPE HTML>
<html>
    <head>
        <title>ADMIN</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf-8">
            document.addEventListener('DOMContentLoaded', function() {
                var socket = io();
                const send_command_btn = document.querySelector("#send_command_btn")
                socket.on('command_output', function(output) {
                    const outputContainer = document.getElementById('my-textarea');
                    try {
                        parsedData = JSON.parse(output);
                        var prettyData = JSON.stringify(parsedData, null, 2);
                        // Update the content of the data container with the formatted data
                        outputContainer.value = prettyData
                    } catch (e) {
                        outputContainer.value = output
                    }


                });
    
                send_command_btn.addEventListener('click', () => {
                    socket.emit('command', document.getElementById("command").value);
                    console.log(document.getElementById("command").value)
                    return true;
                });
            });
        </script>
        <link rel="stylesheet" href='/statics/css/admin.css' />
    </head>
    <body style="background-color: #009879; display: flex;
    align-items: center; justify-content: center; height: 100vh;">
        <div id="container">
            <div id = "command-container" style="background-color: white; width: 1000px; border-radius: 4px; box-shadow: 0 0 10px rgba(0,0,0,0.3); margin-bottom: 50px; padding-top: 8px;">
                <h1 style="background-color:white; font-family: 'Courier New', Courier, monospace; padding-left: 12px;">ADMIN</h1>
                <form id="send_command" style="border-width: 0; padding-inline: 12px; display: flex; flex-direction: column;" method="POST" action="#">
                
                    <input type="text" style="font-family: 'Courier New', Courier, monospace; border-color: black; border-radius: 4px;" name="command" id="command" placeholder="Please enter command">
                    <button type="button" style="width: 100%; font-weight: bold; font-family: 'Courier New', Courier, monospace; border-radius: 4px; padding-left: 12px;" id = "send_command_btn">Send Command</button>
                </form>
            </div>
            <div id="output-container" style="padding-top: 5px; padding-left: 4px; padding-right: 4px; background-color: #fff;">
                <textarea id="my-textarea" style="width: 1000px; height: 500px;" disabled></textarea>
            </div>
        </div>
    </body>
</html>