<!DOCTYPE HTML>
<html>
    <head>
        <title>ADMIN</title>
        <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
        <link rel="stylesheet" href='/statics/css/admin.css' />
    </head>
    <body style="background-color: #009879; display: flex;
    align-items: center; justify-content: center; height: 100vh;">
        <div style="background-color: white; width: 1000px; border-radius: 4px; box-shadow: 0 0 10px rgba(0,0,0,0.3);        ">
            <h1 style="background-color:white; font-family: 'Courier New', Courier, monospace; padding-left: 12px;">ADMIN</h1>
            <form id="send_command" style="border-width: 0; padding-inline: 12px; display: flex; flex-direction: column;" method="POST" action="{{url_for('handle_command')}}">
                <input type="text" style="font-family: 'Courier New', Courier, monospace; border-color: black; border-radius: 4px;" name="command" id="command" placeholder="Please enter command">
                <button type="submit" style="width: 100%; font-weight: bold; font-family: 'Courier New', Courier, monospace; border-radius: 4px; padding-left: 12px;">Send Command</button>
            </form>
        </div>
    </body>
</html>