<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Book Management System</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
        <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
        <script type="text/javascript">
          $(document).ready(function() {
            $('#books-table').DataTable({
              "pageLength": 50
            });
          });
        </script>
        
    </head>
    <body style="display: flex; flex: 1; flex-direction: column; height:max-content; height: 100%;">
        <!-- Header -->
        <header>
          <h1>Book Management System</h1>
        </header>
        
        <main>
          <!-- Add Book Buttion -->
          <button id="add-book-btn" style="margin-bottom: 15px; background-color: green; color: white; border-radius: 5px; border-width: 0; font-family: 'Courier New', Courier, monospace;">Add Book</button>
          <!-- Add Book Dialog Modal-->
          <div id="add-book-dialog" class="dialog" style="display: none; display: none;
          position: fixed;
          z-index: 1; 
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: rgba(0, 0, 0, 0.5);">
            <div class="dialog-content" style="background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%; border-radius: 8px; /* add a border radius of 4px */
  border: 2px solid black;">
              <form id="add-book-form">
                <label for="isbn" style="font-family: 'Courier New', Courier, monospace; font-weight: bold;">ISBN:</label>
                <input type="text" id="isbn-input" name="isbn"><br><br>
                <label for="title"  style="font-family: 'Courier New', Courier, monospace; font-weight: bold;">Title:</label>
                <input type="text" id="title-input" name="title"><br><br>
                <label for="author"  style="font-family: 'Courier New', Courier, monospace; font-weight: bold;">Author:</label>
                <input type="text" id="author-input" name="author"><br><br>
                <label for="price"  style="font-family: 'Courier New', Courier, monospace; font-weight: bold;">Price:</label>
                <input type="text" id="price-input" name="price"><br><br>
                <label for="description"  style="font-family: 'Courier New', Courier, monospace; font-weight: bold;">Description:</label>
                <textarea id="description-input" name="description"></textarea><br><br>
                <button type="submit" class="dialog-button" style="box-shadow: 0 0 10px rgba(0,0,0,0.3);">Create</button>
                <button id="cancel-button" type="button" class="dialog-button dialog-cancel-button" style="margin-top: 15px; box-shadow: 0 0 10px rgba(0,0,0,0.3);">Cancel</button>
              </form>
            </div>
          </div>

          <!-- Table of book list -->
          <div class="container">
              <table id="books-table" style="text-align: left; font-family: 'Courier New', Courier, monospace; width: 100%;
               /* add a vertical scroll bar when content overflows */
              display: block; width: 100%; padding: 0%; max-height: calc(100% - 50px);">
                <thead>
                  <tr>
                    <th>ISBN</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Price</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  {% for book in books %}
                  <tr id="">
                    <td>{{ book['ISBN'] }}</td>
                    <td><a href="/book/{{ book['ISBN'] }}">{{ book['title'] }}</a></td>
                    <td>{{ book['author'] }}</td>
                    <td>{{ book['price'] }}</td>
                    <td>{{ book['description'] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <script src="{{ url_for('static', filename='js/add_book.js') }}"></script>
          </div>
        </main>
        
    </body>
</html>
